language: objective-c
matrix:
  include:
    - osx_image: xcode8.3
    - osx_image: xcode8.2
    - osx_image: xcode8.1
    - osx_image: xcode7.3

script:
  - ./bootstrap.sh
  - ls -la /usr/local/travis/system_info.json
  - cat /usr/local/travis/system_info.json

#  - wget https://gist.githubusercontent.com/emdantrim/f2f6d8418e1d32b34234/raw/b98bf8c6ea9ac997cdf74dc18786ca0b3ef7b1a4/travis-debug-script-macos.sh
#  - chmod u+x travis-debug-script-macos.sh
#  - ./travis-debug-script-macos.sh
